MarstekVenus/nodered_marstek.json
[{"id":"f610ddf58aecd0c4","type":"tab","label":"Batterij","disabled":false,"info":"","env":[]},{"id":"ea5c47bf32951548","type":"api-current-state","z":"f610ddf58aecd0c4","name":"M1 Power","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m1_ac_power","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"M1_power","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":100,"y":120,"wires":[["62935d13fbe9c7c0","26f77f72297f5e57"]]},{"id":"62935d13fbe9c7c0","type":"api-current-state","z":"f610ddf58aecd0c4","name":"M1 SoC","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.marstek_m1_battery_state_of_charge","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"M1_SoC","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":100,"y":180,"wires":[["a17fcdf1963a7aac"]]},{"id":"b5b7bddee9c3ebf6","type":"debug","z":"f610ddf58aecd0c4","name":"P1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":40,"wires":[]},{"id":"d86608f2890cb7e0","type":"debug","z":"f610ddf58aecd0c4","name":"M1 watt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":180,"wires":[]},{"id":"73b839d45f688b5f","type":"api-call-service","z":"f610ddf58aecd0c4","name":"Output (dis)charge power M1","server":"31cbd2f0.9d987e","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.marstek_m1_forcible_discharge_power","number.marstek_m1_forcible_charge_power"],"labelId":[],"data":"{\"value\":\"{{ payload }}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"number","service":"set_value","x":680,"y":180,"wires":[["d86608f2890cb7e0"]]},{"id":"51994027a867441b","type":"api-call-service","z":"f610ddf58aecd0c4","name":"Output charge/discharge","server":"31cbd2f0.9d987e","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.marstek_m1_forcible_charge_discharge"],"labelId":[],"data":"{\"option\":\"{{ payload }}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":890,"y":100,"wires":[["8cc79a428fa4ca5e"]]},{"id":"84171b4b19a41fcf","type":"switch","z":"f610ddf58aecd0c4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":100,"wires":[["6fd16dc832838109"],["8fa6dec6d46bf4ef"]]},{"id":"6fd16dc832838109","type":"change","z":"f610ddf58aecd0c4","name":"Charge","rules":[{"t":"set","p":"payload","pt":"msg","to":"charge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":80,"wires":[["8cc79a428fa4ca5e","51994027a867441b"]]},{"id":"8fa6dec6d46bf4ef","type":"change","z":"f610ddf58aecd0c4","name":"Discharge","rules":[{"t":"set","p":"payload","pt":"msg","to":"discharge","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":120,"wires":[["8cc79a428fa4ca5e","51994027a867441b"]]},{"id":"8cc79a428fa4ca5e","type":"debug","z":"f610ddf58aecd0c4","name":"Charge/discharge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":60,"wires":[]},{"id":"ad8016c6dfc83d2c","type":"debug","z":"f610ddf58aecd0c4","name":"Gewenste P1 vermogen","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":380,"wires":[]},{"id":"a17fcdf1963a7aac","type":"api-current-state","z":"f610ddf58aecd0c4","name":"Gewenste P1 vermogen","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.gewenste_p1_vermogen","state_type":"num","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"Gewenste_P1_vermogen","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":260,"wires":[["ad8016c6dfc83d2c","4a52324482600bf4"]]},{"id":"4a52324482600bf4","type":"api-current-state","z":"f610ddf58aecd0c4","name":"M1 control mode","server":"31cbd2f0.9d987e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.marstek_m1_rs485_control_mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"M1_rs485_mode","propertyType":"flow","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":130,"y":340,"wires":[["380179370a7c050f"]]},{"id":"d008a072bdc57625","type":"debug","z":"f610ddf58aecd0c4","name":"SQL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":380,"wires":[]},{"id":"b9f4e43b1e23f197","type":"function","z":"f610ddf58aecd0c4","name":"Maak logstring","func":"var timestamp = new Date().toLocaleTimeString('nl-BE', { hour12: false });\n\nmsg.payload = timestamp + \" | \" + msg.logdata;\nmsg.topic = \"INSERT INTO `LogData` (`Id`, `Tijd`, `Logtitel`, `Logstring`) VALUES (NULL, NOW(), '\" + msg.logtitel + \"', '\" + msg.logdata + \"')\";\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":280,"wires":[["ce3464458ec92e4b","d008a072bdc57625"]]},{"id":"ce3464458ec92e4b","type":"switch","z":"f610ddf58aecd0c4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"INSERT INTO","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":280,"wires":[[]]},{"id":"0718c4710700610e","type":"server-state-changed","z":"f610ddf58aecd0c4","name":"P1 Watt","server":"31cbd2f0.9d987e","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["sensor.p1_meter_active_power"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"P1_power","propertyType":"flow","value":"","valueType":"entityState"}],"x":90,"y":40,"wires":[["ea5c47bf32951548","b5b7bddee9c3ebf6"]]},{"id":"380179370a7c050f","type":"function","z":"f610ddf58aecd0c4","name":"Berekeningen","func":"var P1_power = flow.get(\"P1_power\"); // verbruik is positief\nvar Gewenste_P1_vermogen = flow.get(\"Gewenste_P1_vermogen\");\nvar M1_power = flow.get(\"M1_power\"); // laden is negatief\nvar M1_power_soll = flow.get(\"M1_power_soll\"); // vorige consigne\nvar M1_SoC = flow.get(\"M1_SoC\");\nvar M1_boven_hysterese_geweest = flow.get(\"M1_boven_hysterese_geweest\");\nvar M1_rs485_mode = flow.get(\"M1_rs485_mode\");\n\nvar Laden = true;\nvar M1_fractie_laden = 0; \nvar M1_fractie_ontladen = 0; \nvar logdata = \"\";\n\nvar afzwakking = 1;\n\nlogdata += \"0: \" + P1_power + \"|\" + M1_power + \"|\" + M1_power_soll + \"| \";\n\nif (M1_SoC > 20) {\n    M1_boven_hysterese_geweest = true;\n}\n\nif (M1_rs485_mode != \"enable\") {\n    M1_power = 0;\n}\n\nif (M1_SoC <= 11 || isNaN(M1_power_soll) || M1_rs485_mode != \"enable\") {\n    M1_boven_hysterese_geweest = false;\n}\n\nlogdata += \"1: \" + P1_power + \"|\" + M1_power + \"|\" + M1_power_soll + \"| \";\n\nif (Math.abs(M1_power - M1_power_soll) < 50 || M1_rs485_mode != \"enable\") {\n    M1_power = M1_power_soll;\n    afzwakking = 0.2;\n    logdata += \"2: M1-pow <- M1_pow_soll | \";\n}\n\nlogdata += \"3: \" + P1_power + \"|\" + M1_power + \"|\" + M1_power_soll + \"| afzwakking: \" + afzwakking + \" | \";\n\n// Delta is wat verbruikt wordt tov gewenst\nvar Delta = P1_power - Gewenste_P1_vermogen;\nvar Saldo = M1_power + Delta;\nlogdata += \"4: \" + Math.round(Saldo) + \" | \";\n\nif (Saldo > 0) {\n    Laden = false;\n}\nSaldo = Math.abs(Saldo);\nlogdata += \"5: Laden: \" + Laden + \" | \";\n\nif (Laden) {\n    if (M1_SoC < 100 && M1_rs485_mode == \"enable\") {\n        M1_fractie_laden = 1;\n    }\n    M1_power_soll = -(Math.round((-1 * afzwakking * M1_power + (1 - afzwakking) * Math.min(Saldo * M1_fractie_laden, 2500)) * 10) / 10);\n    logdata += \"6: \" + M1_fractie_laden + \"|\" + M1_power_soll + \" | \";\n}\nelse {\n    if (M1_SoC > 10 && M1_rs485_mode == \"enable\") {\n        M1_fractie_ontladen = 1;\n    }\n    M1_power_soll = Math.round((afzwakking * M1_power + (1 - afzwakking) * Math.min(Saldo * M1_fractie_ontladen, 2500)) * 10) / 10;\n    logdata += \"7: \" + M1_fractie_ontladen + \"|\" + M1_power_soll + \" | \";\n}\n\nvar BeschikbaarVoorLaadpaal = 100;\nvar uur = new Date().getHours();\nif (uur >= 6 && uur < 15) {\n    if (M1_SoC > 10 && M1_boven_hysterese_geweest && M1_rs485_mode == \"enable\") { \n        BeschikbaarVoorLaadpaal += 2500 - M1_power;\n        logdata += \"8: na M1: \" + BeschikbaarVoorLaadpaal + \" | \";\n    }\n    if (BeschikbaarVoorLaadpaal > 200){\n        BeschikbaarVoorLaadpaal -= 100;\n    }\n    if (M1_SoC == 10) {\n        BeschikbaarVoorLaadpaal = 0;\n    }\n}\nvar Vorige_beschikbaar_voor_laadpaal = global.get(\"Beschikbaar_voor_laadpaal\");\nif (isNaN(Vorige_beschikbaar_voor_laadpaal)) {\n    Vorige_beschikbaar_voor_laadpaal = 0;\n}\nBeschikbaarVoorLaadpaal = 0.5 * Vorige_beschikbaar_voor_laadpaal + 0.5 * BeschikbaarVoorLaadpaal;\nglobal.set(\"Beschikbaar_voor_laadpaal\", BeschikbaarVoorLaadpaal);\nlogdata += \"9: global: \" + BeschikbaarVoorLaadpaal + \" | \";\n\nflow.set(\"M1_power_soll\", M1_power_soll);\nflow.set(\"M1_boven_hysterese_geweest\", M1_boven_hysterese_geweest);\n\nlet msg1 = { payload: Laden };\nlet msg2 = { payload: Math.abs(M1_power_soll) };\nlet msg3 = { payload: null };\nlet msg4 = { \n    logdata: logdata,\n    logtitel: \"Batterij M1\"\n};\n\nreturn [msg1, msg2, msg3, msg4];\n","outputs":4,"timeout":0,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\n\nflow.set(\"M1_power_soll\", 0);\nflow.set(\"M2_power_soll\", 0);\nflow.set(\"M1_boven_hysterese_geweest\",false);\nflow.set(\"M2_boven_hysterese_geweest\",false);\nflow.set(\"mono_bedrijf\", true);","finalize":"","libs":[],"x":360,"y":180,"wires":[["84171b4b19a41fcf"],["73b839d45f688b5f"],[],["b9f4e43b1e23f197"]]},{"id":"26f77f72297f5e57","type":"debug","z":"f610ddf58aecd0c4","name":"P1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"01dfd56ce9c6cc94","type":"json","z":"f610ddf58aecd0c4","name":"","property":"payload","action":"obj","pretty":false,"x":310,"y":660,"wires":[["62396251196d640d"]]},{"id":"62396251196d640d","type":"function","z":"f610ddf58aecd0c4","name":"Filter","func":"var p1_power = msg.flow.P1_power\nvar m1_power = msg.flow.M1_power\nvar m1_soc = msg.flow.M1_soc\n\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\n        measurement: \"battery\",\n\t\tfields: {\n\t\t\tP1_power: p1_power,\t\n\t\t\tM1_power: m1_power,\n\t\t\tM1_soc: m1_soc,\t\t\t\n\t\t    },\n\t\ttags:{\n\t\t    device: \"Marstek\",\n\t\t    },\n\t}\n\nreturn _msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":480,"wires":[["69637709a40a71f0"]]},{"id":"69637709a40a71f0","type":"join","z":"f610ddf58aecd0c4","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":870,"y":480,"wires":[["8b6b2d08020d0a4c"]]},{"id":"423d8141f6cf355f","type":"influxdb batch","z":"f610ddf58aecd0c4","influxdb":"cc27eafd.c04928","precision":"","retentionPolicy":"","name":"","x":1160,"y":620,"wires":[]},{"id":"8b6b2d08020d0a4c","type":"delay","z":"f610ddf58aecd0c4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":1060,"y":480,"wires":[["6861df823917c2d0"]]},{"id":"6861df823917c2d0","type":"debug","z":"f610ddf58aecd0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1130,"y":560,"wires":[]},{"id":"31cbd2f0.9d987e","type":"server","name":"Home Assistant","addon":true},{"id":"cc27eafd.c04928","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"energy","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","timeout":"","rejectUnauthorized":false}]